.app {
    width: 100vw;
    background: radial-gradient(
        ellipse at top,
        var(--background2) 0%,
        var(--background) 100%
    );
}

.intro {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
}

.content {
    width: 70vw;
    max-width: 1650px;
    margin: auto;
}

.main {
    background-color: var(--title);
    border-radius: 8px;
}

@media screen and (max-width: 1600px) {
    .content {
        width: 90vw;
        margin: auto;
    }
}

.main > .about,
.stack,
.projects,
.contact {
    margin: 0 3rem;
}

.section-title {
    font-size: 2.5rem;
    font-weight: 300;
    text-align: center;
}
