/* .contact{
    margin: 2rem 0.5rem 2rem 0;
    display: grid;
    gap: 1rem;
}

.contact-form-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "title form"
                         "title  button";
    gap: 1rem;
    align-items: center;
}

.contact-title {
    grid-area: title;
    text-transform: uppercase;
    font-weight: 900;
    font-style: italic;
    font-size: 3rem;
    color: var(--clr-red);
}

.contact-form {
    grid-area: form;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
}

.form-left {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 0.35rem;
}

.form-right {
    display: grid;
    grid-template-rows: 1fr;
    width: 100%;
}

.btn-submit {
    margin: 1rem 0;
}

textarea {
    resize: none;
    width: inherit;
    border: 1px solid lightgrey;
}

input {
    border: 1px solid lightgrey;
}

.form-btn {
    grid-area: button;
    width: 10rem;
    justify-self: end;
    font-size: 1.5rem;
    padding: 0.7rem;
    background-color: var(--clr-blue);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
} */
