footer {
    height: calc(100vh - 4rem);
    display: grid;
    grid-template-rows: 5rem 1fr 5rem;
    justify-content: center;
    align-items: center;
    color: var(--clr-primary);
}

.footer-ext-links {
    display: grid;
    grid-template-columns: repeat(2, 15rem);
    justify-content: center;
    text-align: center;
    gap: 1rem;
    margin: 2rem 0;
}

.footer-title {
    color: var(--clr-secondary);
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 900;
    line-height: 1;
    text-align: center;
}
