header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: white;
    width: 100%;
    max-width: 1440px;
    z-index: 1;
    color: var(--clr-blue);
    height: 4rem;
}

.contact-int-link {
    margin-right: 4rem;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    background-color: var(--clr-red);
    color: white;
    border-radius: 4px;
    cursor: pointer;  
}
