header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: white;
    width: calc(100% - 4rem);
    max-width: calc(1440px - 4rem);
    z-index: 1;
    color: var(--clr-primary);
    background-color: var(--background);
    height: 4rem;
}

nav {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 1.5rem;
    align-items: center;
}

.contact-int-link {
    font-size: 1rem;
    padding: 0.5rem 2rem;
    background-color: var(--clr-secondary);
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.header-link,
.contact-int-link {
    font-weight: 700;
}