.home {
    height: 100vh;
    background-color: var(--clr-offwhite);
    display: grid;
    margin: auto;
    justify-content: center;
    align-items: center;
    
}

.hello-text {
    text-transform: uppercase;
    font-size: 10rem;
    font-weight: 900;
    line-height: 1;
    color: var(--clr-red);
}

.avatar {
    height: 25%;
    width: 25%;
    border-radius: 50%;
    border: 1px solid black;
}
