.home {
    height: calc(100vh - 3rem);
    background-color: var(--clr-offwhite);
    display: grid;
    margin: auto;
    justify-content: center;
    align-items: center;
    color: var(--clr-blue);
}

.hello-title {
    text-transform: uppercase;
    font-size: 10rem;
    font-weight: 900;
    line-height: 1;
    color: var(--clr-red);
}

.hello-subtitle {
    margin: 1.5rem 0;
    font-size: 4rem;
    width: 60rem;
}

.hello-text {
    font-size: 1.5rem;
}

.avatar {
    height: 25%;
    width: 25%;
    border-radius: 50%;
    border: 1px solid black;
}

.scroll {
    background-color: var(--clr-offwhite);
    text-align: center;
    padding-bottom: 1rem;
}