.project-container {
    height: calc(50vh - 4rem);
    min-height: 1000px;
    margin: auto;
    background-color: var(--clr-offwhite);
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
    color: var(--clr-blue);
}

.position-right,
.position-right > * {
    text-align: right;
    justify-content: right;
}

.project-title {
    grid-area: desc;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 4rem;
    color: var(--clr-red);
    font-style: italic;
}

.project-subtitle {
    margin: 5rem 0 6rem;
    font-size: 1.5rem;
}

.project-subtitle.position-right {
    font-size: 1.5rem;
}

.project-preview {
    grid-area: img;
    border-radius: 12px;
}

.external-links {
    display: grid;
    grid-template-columns: repeat(2, 13rem);
    text-align: center;
    gap: 1rem;
}

.project-ext-links {
    font-size: 1.5rem;
    padding: 1rem;
    background-color: var(--clr-blue);
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
