.project-container {
    margin-top: 5rem;
    height: calc( 100vh - 4rem);
    min-height: 1000px;
    margin: auto;
    background-color: var(--clr-offwhite);
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
    color: var(--clr-blue);
}

/* .last-project {
    height: 60vh;
} */

.position-left {
    padding-left: 3rem;
}

.position-right {
    padding-right: 3rem;
}

.position-right,
.position-right > * {
    text-align: right;
    justify-content: right;
}

.project-title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 6rem;
    color: var(--clr-red);
    font-style: italic;
    
}

.project-subtitle {
    margin: 5rem 0 6rem;
    font-size: 2rem;
    
}

.project-subtitle.position-right {
    font-size: 2rem;
}

.project-preview {
    margin: auto;
    border-radius: 16px;
}

.external-links {

    display: grid;
    grid-template-columns: repeat(2, 15rem);
    text-align: center;
    gap: 1rem;
}

.project-ext-links {
    font-size: 1.5rem;
    padding: 1rem;
    background-color: var(--clr-blue);
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
